@import './veriable.scss' ;
 
 // margin mixins 
@mixin margin-xy($x: 0, $y: 0) {
  @if $x == $y {
    margin: $x * 1px;
  } @else {
    margin: $x * 1px $y * 1px;
  }
}


@mixin margin-top($n: 0) {
  margin-top: $spacer * $n;
}

@mixin margin-right($n: 0) {
  margin-right: $spacer * $n;
}

@mixin margin-bottom($n: 0) {
  margin-bottom: $spacer * $n;
}

@mixin margin-left($n: 0) {
  margin-left: $spacer * $n;
}

 // padding settings 

@mixin padding-xy($x: 0, $y: 0) {
  @if $x == $y {
    padding: $x * 1px;
  } @else {
    padding: $x * 1px $y * 1px;
  }
}

@mixin padding-top($n: 0) {
  padding-top: $spacer * $n;
}

@mixin padding-right($n: 0) {
  padding-right: $spacer * $n;
}

@mixin padding-bottom($n: 0) {
  padding-bottom: $spacer * $n;
}

@mixin padding-left($n: 0) {
  padding-left: $spacer * $n;
}

// max-lines 
@mixin max-lines($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-height: 1.2;
}
  